# ДЗ_2 Чернигов Григорий Витальевич

In [ ]:
pip install psycopg2

In [ ]:
import pandas as pd
from sqlalchemy import text
from sqlalchemy import create_engine

In [ ]:
customer = pd.read_csv('customer.csv', sep=';')
product = pd.read_csv('product.csv', sep=',')
orders = pd.read_csv('orders.csv', sep=',')
order_items = pd.read_csv('order_items.csv', sep=',')

In [ ]:
dataframes_list = [customer, product, orders, order_items]
names_for_tables = ['customer', 'product', 'orders', 'order_items']

In [ ]:
for dataframe, table_name in zip(dataframes_list, names_for_tables):
    print(f"Таблица: {table_name}")
    display(dataframe.head())
    print()

In [ ]:
customer['DOB'] = pd.to_datetime(customer['DOB']).dt.date
orders['order_date'] = pd.to_datetime(orders['order_date']).dt.date

In [ ]:
customer.info()

In [ ]:
engine = create_engine('postgresql://postgres:password@localhost:5432/postgres')

In [ ]:
dataframes_list = [customer, product, orders, order_items]
names_for_tables = ['customer', 'product', 'orders', 'order_items']

for dataframe, table_name in zip(dataframes_list, names_for_tables):
    dataframe.to_sql(
        name = table_name,
        con = engine,
        schema = 'sales_analysis',
        if_exists = 'replace',
        index = False
    )

In [ ]:
```sql
CREATE TABLE IF NOT EXISTS sales_analysis.product_cor AS
SELECT *
FROM (
    SELECT *,
           ROW_NUMBER() OVER (PARTITION BY product_id ORDER BY list_price DESC) AS rn
    FROM sales_analysis.product
) t
WHERE rn = 1;
```

Задача № 1:
Вывести все уникальные бренды, у которых есть хотя бы один продукт со стандартной стоимостью выше 1500 долларов, и суммарными продажами не менее 1000 единиц.

In [ ]:
```sql
SELECT DISTINCT product.brand
FROM sales_analysis.product
INNER JOIN sales_analysis.order_items ON product.product_id = order_items.product_id
WHERE product.standard_cost > 1500
GROUP BY product.brand, product.product_id
HAVING SUM(order_items.quantity) >= 1000
```

Задача № 2:
Для каждого дня в диапазоне с 2017-04-01 по 2017-04-09 включительно вывести количество подтвержденных онлайн-заказов и количество уникальных клиентов, совершивших эти заказы.

In [ ]:
```sql
SELECT 
    orders.order_date,
    COUNT(orders.order_id) AS количество_заказов, 
    COUNT(DISTINCT orders.customer_id) AS уникальные_клиенты
FROM sales_analysis.orders
WHERE orders.order_date BETWEEN '2017-04-01' AND '2017-04-09'
    AND orders.order_status = 'Approved'
    AND orders.online_order = True
GROUP BY orders.order_date
ORDER BY orders.order_date
```

Задача № 3:
Вывести профессии клиентов:
из сферы IT, чья профессия начинается с Senior;
из сферы Financial Services, чья профессия начинается с Lead.
Для обеих групп учитывать только клиентов старше 35 лет. Объединить выборки с помощью UNION ALL.

In [ ]:
```sql
SELECT customer.job_title
FROM sales_analysis.customer
WHERE customer.job_industry_category = 'IT'
    AND customer.job_title LIKE 'Senior%'
    AND EXTRACT(YEAR FROM AGE(customer.DOB)) > 35
UNION ALL
SELECT customer.job_title
FROM sales_analysis.customer
WHERE customer.job_industry_category = 'Financial Services'
    AND customer.job_title LIKE 'Lead%'
    AND EXTRACT(YEAR FROM AGE(customer.DOB)) > 35
```

Задача № 4:
Вывести бренды, которые были куплены клиентами из сферы Financial Services, но не были куплены клиентами из сферы IT.

In [ ]:
```sql
SELECT DISTINCT product.brand
FROM sales_analysis.customer
INNER JOIN sales_analysis.orders ON customer.customer_id = orders.customer_id
INNER JOIN sales_analysis.order_items ON orders.order_id = order_items.order_id
INNER JOIN sales_analysis.product ON order_items.product_id = product.product_id
WHERE customer.job_industry_category = 'Financial Services'
    AND product.brand NOT IN (
        SELECT DISTINCT product.brand
        FROM sales_analysis.customer
        INNER JOIN sales_analysis.orders ON customer.customer_id = orders.customer_id
        INNER JOIN sales_analysis.order_items ON orders.order_id = order_items.order_id
        INNER JOIN sales_analysis.product ON order_items.product_id = product.product_id
        WHERE customer.job_industry_category = 'IT'
    )
    AND product.brand IS NOT NULL
```

Задача № 5:
Вывести 10 клиентов (ID, имя, фамилия), которые совершили наибольшее количество онлайн-заказов (в штуках) брендов Giant Bicycles, Norco Bicycles, Trek Bicycles, при условии, что они активны и имеют оценку имущества (property_valuation) выше среднего среди клиентов из того же штата.

In [ ]:
```sql
SELECT 
    customer.customer_id,
    customer.first_name,
    customer.last_name,
    COUNT(orders.order_id) AS количество_заказов
FROM sales_analysis.customer
INNER JOIN sales_analysis.orders ON customer.customer_id = orders.customer_id
INNER JOIN sales_analysis.order_items ON orders.order_id = order_items.order_id
INNER JOIN sales_analysis.product ON order_items.product_id = product.product_id
WHERE orders.online_order = true
    AND product.brand IN ('Giant Bicycles', 'Norco Bicycles', 'Trek Bicycles')
    AND customer.deceased_indicator != 'Y'
    AND customer.property_valuation > (
        SELECT AVG(customer_inner.property_valuation)
        FROM sales_analysis.customer AS customer_inner
        WHERE customer_inner.state = customer.state
    )
GROUP BY customer.customer_id, customer.first_name, customer.last_name
ORDER BY количество_заказов DESC
LIMIT 10
```

Задача № 6:
Вывести всех клиентов (ID, имя, фамилия), у которых нет подтвержденных онлайн-заказов за последний год, но при этом они владеют автомобилем и их сегмент благосостояния не Mass Customer.

In [ ]:
```sql
SELECT 
    customer.customer_id,
    customer.first_name,
    customer.last_name
FROM sales_analysis.customer
WHERE 
    customer.deceased_indicator != 'Y'
    AND customer.owns_car = 'Yes'
    AND customer.wealth_segment != 'Mass Customer'
    AND NOT EXISTS (
        SELECT 1
        FROM sales_analysis.orders
        WHERE 
            orders.customer_id = customer.customer_id
            AND orders.online_order = true
            AND orders.order_status = 'Approved'
            AND orders.order_date >= CURRENT_DATE - INTERVAL '1 year'
    )
```

Задача № 7:
Вывести всех клиентов из сферы 'IT' (ID, имя, фамилия), которые купили 2 из 5 продуктов с самой высокой list_price в продуктовой линейке Road.

In [ ]:
```sql
SELECT 
    customer.customer_id,
    customer.first_name,
    customer.last_name
FROM sales_analysis.customer
INNER JOIN sales_analysis.orders ON customer.customer_id = orders.customer_id
INNER JOIN sales_analysis.order_items ON orders.order_id = order_items.order_id
WHERE 
    customer.job_industry_category = 'IT'
    AND customer.deceased_indicator != 'Y'
    AND orders.order_status = 'Approved'
    AND order_items.product_id IN (
        SELECT product_id
        FROM sales_analysis.product
        WHERE product_line = 'Road'
        ORDER BY list_price DESC
        LIMIT 5
    )
GROUP BY customer.customer_id, customer.first_name, customer.last_name
HAVING COUNT(DISTINCT order_items.product_id) >= 2
```

Задача № 8:
Вывести клиентов (ID, имя, фамилия, сфера деятельности) из сфер IT или Health, которые совершили не менее 3 подтвержденных заказов в период 2017-01-01 по 2017-03-01, и при этом их общий доход от этих заказов превышает 10 000 долларов.
Разделить вывод на две группы (IT и Health) с помощью UNION.

In [ ]:
```sql
SELECT 
    customer.customer_id,
    customer.first_name,
    customer.last_name,
    customer.job_industry_category
FROM sales_analysis.customer
INNER JOIN sales_analysis.orders ON customer.customer_id = orders.customer_id
INNER JOIN sales_analysis.order_items ON orders.order_id = order_items.order_id
WHERE 
    customer.job_industry_category = 'IT'
    AND customer.deceased_indicator != 'Y'
    AND orders.order_status = 'Approved'
    AND orders.order_date BETWEEN '2017-01-01' AND '2017-03-01'
GROUP BY customer.customer_id, customer.first_name, customer.last_name, customer.job_industry_category
HAVING 
    COUNT(DISTINCT orders.order_id) >= 3
    AND SUM(order_items.item_list_price_at_sale * order_items.quantity) > 10000
UNION
SELECT 
    customer.customer_id,
    customer.first_name,
    customer.last_name,
    customer.job_industry_category
FROM sales_analysis.customer
INNER JOIN sales_analysis.orders ON customer.customer_id = orders.customer_id
INNER JOIN sales_analysis.order_items ON orders.order_id = order_items.order_id
WHERE 
    customer.job_industry_category = 'Health'
    AND customer.deceased_indicator != 'Y'
    AND orders.order_status = 'Approved'
    AND orders.order_date BETWEEN '2017-01-01' AND '2017-03-01'
GROUP BY customer.customer_id, customer.first_name, customer.last_name, customer.job_industry_category
HAVING 
    COUNT(DISTINCT orders.order_id) >= 3
    AND SUM(order_items.item_list_price_at_sale * order_items.quantity) > 10000
```